{% extends "posts/base.html" %}
{% load static %}
{% block content %}
   
{% comment %}       
            <section class="banner_main_home">
               <div class="container">
                  <div class="row d_flex">
                     <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                        <div class="text-bg">
                           <h1>Online<br> <span class="white1">Text Share</span></h1>
                           <p>Hi,in Online Text Share,you can share your text and links to 
                              access it anywhere,on your phone or desktop.you can easily share it for yourself. </p>
                           <a href=' {% url "posts:signup" %} '>Start Heare</a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div> {% endcomment %}
      </header>
      <!-- end banner -->
      <!-- blog_main -->
      <div class="blog_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <div class="about">
                        <h2>About me</h2>
                        <span>Hello! I'm Seyed Mojtaba Esmaili, a junior Python Django backend developer
                            with a passion for learning and growing in the world of web development. I 
                            enjoy building dynamic and efficient web applications and am excited to deepen
                             my expertise in Python and the Django framework.
                           On my GitHub, you'll find a collection of projects that showcase my journey 
                           as a developer. I’m eager to tackle
                             new challenges and continuously improve my skills through hands-on experience and 
                             collaboration.
                            I believe
                             in the importance of community and am always open to connecting with fellow developers
                              and learning from their experiences.                          
                           Let’s connect and explore the exciting possibilities in the world of development together!
                        </span>
                     </div>   
                  </div>
               </div>
            </div>
            <!-- fist section -->

            <!-- ############ -->
            <div class='card-container'>
               {% for post in posts_list %}
                  
                     <div class='card'>
                        <div class='card-content'>
                           {% comment %} <article> {% endcomment %}
                              <h3>{{post.title}}</h3>
                              <h4>Writer : <b><i>{{post.user.username}}</i></b></h4>
                              <h4>Time Posted : {{post.date_posted}}</h4>
                              <p>{{post.content|truncatewords:25}}</p>
                              <a href='/public_post_detail/{{post.id}}' class='post-btn'>Read More</a>
                           {% comment %} </article> {% endcomment %}
                        </div>
                     </div>
                  
               {% endfor %}
            </div>
            
    <!-- end fist section -->
         </div>
      </div>
      <!-- end blog_main -->

      {% endblock content %}