{% extends "posts/base.html" %}


{% block content %}
    {% comment %} <div class='post-delete-main'>
        <div class='post'>
            <h3>Are you sure you want to Delete this Post?</h3>
            <p><b>Title</b> : {{post.title}}</p>

            <form method='POST'>
                {% csrf_token %}
                <input class='detailbtn deletebtn' type='submit' value='delete'>
            </form>
        </div>
    </div> {% endcomment %}

    {% comment %} <section class="banner_main">
        <div class="container">
           <div class="row d_flex">
              <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                 <div class="text-bg">
                    <h1>Online<br> <span class="white1">Text Share</span></h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                    <a href=' {% url "posts:signup" %} '>Start Heare</a>
                 </div>
              </div>
           </div>
        </div>
     </section>
    </div> 
    </header> {% endcomment %}
</header>
    <div class="blog_main">
        <div class="container">
            <div class='card-container'>
                      <div class='card-detail'>
                         <div class='card-content'>
                            <form method='POST'>
                                {% csrf_token %}
                               <h3>Are you sure you want to delete this post?</h3>
                               <hr style="background:#046c58;">
                               <h4>Title : <b><i>{{post.title}}</i></b></h4>  
                            
                                <div class='post-btns'>
                                    <input class='post-btn-delete' type='submit' value='delete'>
                                    
                                </div>
                            </form>
                         </div>
                      </div>
             </div>
        </div>
    </div>


{% endblock content %}