{% extends "posts/base.html" %}
{% block content %}
{% comment %} <div class='form-main'>
    <div class='form-container'>
        <h1>You have Logged out sucssusfully!!</h1>
        <a href='{% url "login" %}' style='display: flex;
        align-items: center;
        justify-content: center; text-decoration : none; padding: 20px;
        margin: 10px;
        font-size: 30px;'><button class='detailbtn updatebtn'>Login Page</button></a>
    </div>
</div> {% endcomment %}
<section class="banner_main_home">
    <div class="container">
       <div class="row d_flex">
          <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
             <div class="text-bg">
                <h1><span class="white1">Loged out</span></h1>
                <p>You have loged out sucssusfully!!<br>
                    to Login again press bellow botton. </p>
                <a href=' {% url "login" %} '>Login</a>
             </div>
          </div>
       </div>
    </div>
 </section>
</div>
</header>
<!-- end banner -->

{% endblock content %}